@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
h1, h2, .title-nav {
  font-family: "Raleway", sans-serif;
  font-weight: 800; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

.producto {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

.prod-precio {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-align: center;
  color: #D5BA98; }

.prod-cuotas {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.service-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem; }

footer {
  background: rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
  padding: 20px 0 20px 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

a, a:hover {
  text-decoration: none;
  color: #000; }

.nav1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 2rem; }

.nav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  background-color: #000; }
  .nav2 li {
    display: block;
    text-align: center;
    padding: 0 1rem; }
    .nav2 li:hover {
      background-color: #fff; }
    .nav2 li a {
      position: relative;
      color: #fff;
      padding: 15px 16px;
      display: inline-block;
      text-align: center; }
      .nav2 li a:hover {
        color: #000; }
  .nav2 li.desktop-list__item.dropdownn:hover ul.nav-dropdown {
    display: block;
    background-color: #000; }

.desktop-list__down-icon {
  font-size: 0.9rem;
  line-height: inherit;
  margin: 0 0 0 10px; }

ul.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1; }

.search {
  position: relative;
  width: 100%; }

#search {
  display: block;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border: 1px solid rgba(10, 10, 10, 0.3);
  background-color: #fff;
  margin: 0 auto; }

#search-icon {
  position: absolute;
  display: block;
  top: 22px;
  right: 28%;
  padding: 7px;
  cursor: pointer; }

.cart {
  cursor: pointer; }

.offcanvas-footer {
  background-color: #000;
  box-shadow: 0 2px 5px rgba(10, 10, 10, 0.4); }

.offcanvas-footer .social {
  padding: 10px; }

@media screen and (max-width: 767px) {
  .nav-mobile {
    display: block; }
  .nav-desktop {
    display: none; }
  main {
    margin-top: 4rem; }
  .m-footer {
    margin: 1rem 0; } }

@media screen and (min-width: 767px) {
  .nav-mobile {
    display: none; } }

.contprodu {
  margin: 1rem;
  padding: 1rem;
  border-bottom: solid 1px #ccc;
  overflow: hidden; }
  .contprodu:hover {
    box-shadow: 0 1px 6px rgba(10, 10, 10, 0.2); }
  .contprodu img {
    width: 100%;
    object-fit: cover;
    transition: all 0.2s; }
    .contprodu img:hover {
      transform: scale(1.2); }

.box-descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.prod {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  overflow: hidden; }

footer {
  background: rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
  padding: 20px 0 20px 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }
  footer a,
  footer a:hover {
    color: #fff;
    display: inline;
    padding: 0; }
  footer h4 {
    text-decoration: underline; }

.footer-links a {
  font-size: 1rem; }

.social {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 1rem 0; }
  .social a img {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    display: block;
    margin-right: 0.8rem; }

.footer1 {
  width: 33.33%; }
  .footer1 ul {
    margin-top: 1rem; }

.container-imagen {
  max-width: 100%;
  height: auto; }

.container-talles {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  flex-direction: row; }

.hero {
  width: 100%;
  height: 60vh; }

.heroimg {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.page-header {
  margin: 0.5rem 0 0.5rem 0; }

.service-item {
  margin: 20px 0 80px 0;
  padding: 0 40px; }
  .service-item i, .service-item svg {
    font-size: 5rem; }

.service-title {
  margin: 14px 0 14px 0; }
