@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

h1,
h2 {
  @include Raleway(800);
  font-size: 3rem;
}

h4 {
  @include Poppins(800);
}

.title-nav {
  @include Raleway(800);
  font-size: 1rem;
}

body {
  @include Raleway(400);
}

.producto {
  text-align: center;
  @include Raleway(400);
}

.prod-precio {
  @include Poppins(800);
  text-align: center;
  color: #D5BA98;
}

.prod-cuotas {
  text-align: center;
  @include Poppins(400);
}

.service-title {
  text-align: center;
  @include Poppins(400);
  font-size: 1.4rem;
}